@charset "utf-8";

/*变理的声明*/

$bg-color:#f7f6f5;
$bg-div-color:white;
$font-size:16px;
$font-family:"微软雅黑";
$font-color:grey;
$menu-height:53px;
$border-color:gainsboro;   //边框颜色

body {
    background-color: $bg-color;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $font-color;
}

@mixin ul-cls {
    display: inline-block;
    height: 23px;
    li {
        display: inline-block;
        width: 60px;
        list-style: none;
        text-align: center;
    }
}

nav {
    position: relative;
    width: 96%;
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    //  ul{
    //      display: inline-block;
    //      height: 23px;
    //      li{
    //          list-style: none;
    //          width: 60px;
    //          text-align: center;
    //          display: inline-block;
    //      }
    //  }
    ul {
        @include ul-cls; //用混合器代替    
    }
    ul:not(:first-child) {
        li:not(:first-child) {
            width: 80px;
        }
        ;
    }
}

.right {
    position: absolute;
    right: 0;
}

.search {
    width: 170px;
}

.center-div {
    margin: 0 auto;
    width: 80%;
    position: relative;
}

.full-height-padding {
    padding: 0;
    border: 0;
    height: $menu-height;
    position: relative;
}

.menu-div {
    background-color: $border-color;
    width: 100%;
    border: 1px solid grey {
        left: 0;
        right: 0;   
    }
    .menu {
        @extend .center-div;
        @extend .full-height-padding;
        overflow: hidden;
        height: $menu-height;
        transition: height 1s ;               //过渡效果
        -webkit-transition:height 1s;
        ul {
            @include ul-cls;
            padding: 0;
            margin: 0;
            height: auto;
            li {
                @extend .full-height-padding;
                width: auto;
                margin-right: 10px;
                line-height: $menu-height;
                // height: ($menu-height)-2;
                a {
                    height: ($menu-height)-2;
                    display: inline-block;
                    &:hover {
                        border-bottom: 2px solid royalblue;
                    }
                }
            }
        }
    }
    .menu2 {
        line-height: $menu-height;
        ul {
            height: $menu-height;
            li {
                a {
                    &:hover {
                        border-bottom: 2px solid gainsboro;
                    }
                }
            }
        }
    }
}

//@keyframes display-div{
//  from{ height: $menu-height;}
//  to { height: ($menu-height)*2;}
//}


.menu:hover {
    //animation: display-div .8s ;
    //animation-fill-mode:forwards;
    height: ($menu-height)*2;
}


.context{
    @extend .center-div;
    
    .top{
        background-color: red;
    }
    .top1{
        p:before{
            content: "台词:";
            font-weight: bold;
            color: red;
        }
        span:after{
            display: block;
            content: "-作者";
            font{
                weight: bold;
            }
            color:gray;
        }
    }
    
    
    .context-left{
        background-color: green;
        width: 70%;
        position: relative;
    }
    
    .context-right{
        background-color: #4169E1;
        width:30%;
        top:0;
    }
}


//1，如何把这块放到js里？
.info-msg{
    position: absolute;
    display: block;
    z-index: 9999;
    height: 300px;
    width: 500px;
    top:50%;
    left: 50%;
    margin: -150px 0 0 -250px;
    border: 1px  solid darksalmon;
    background-color:white;
    resize: both;
    overflow: hidden;
    .info-header{
        height: 30px;
        line-height: 30px;
        background-color: gainsboro;
    }
    .info-context{
        height: 240px;
    }
    .info-bottom{
        background-color: gainsboro;
        margin-bottom: 0;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
}


.info-msg-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-color: darkgrey;
    filter:alpha(Opacity=50);
    -moz-opacity:0.5;
    opacity: 0.5;
    z-index: 9990;
}

